---
layout: default
title : Publications
navbar_title: Publications
body_attr: >-
  data-spy="scroll" data-target="#navbar-year" data-offset="100"
---

{% assign working_papers = site.publications 
    | where: "category", "working-paper" 
    | sort: "date" 
    | reverse %}

{% assign work_in_progress = site.publications 
    | where: "category", "work-in-progress" 
    | sort: "date" 
    | reverse %}

<div class="row">
    <div class="col-12 col-lg-10">

        <h2 class="mt-4 mb-4 pt-4" id="Working Papers">Working Papers</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
            {% for item in working_papers %}
                {% include widgets/publication_item.html 
                    item=item 
                    hide_bottom_border=forloop.last 
                    first=forloop.first 
                    last=forloop.last %}
            {% endfor %}
        </div>

        <h2 class="mt-4 mb-4 pt-4" id="Work in Progress">Work in Progress</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
            {% for item in work_in_progress %}
                {% include widgets/publication_item.html 
                    item=item 
                    hide_bottom_border=forloop.last 
                    first=forloop.first 
                    last=forloop.last %}
            {% endfor %}
        </div>

    </div>
</div>
