<footer class="footer border-top py-2 mt-5 small">
    <div class="{% if page.container_class %}{{ page.container_class }}{% else %}container-lg{% endif %}">
        <div class="row my-3">
            <div class="col-6">
                <div class="text-muted">
                    <!-- Default Statcounter code for My Personal Website
                    https://shidongshao.github.io/ -->
                    <script type="text/javascript">
                    var sc_project=13353561; 
                    var sc_invisible=0; 
                    var sc_security="cc141859"; 
                    var scJsHost = "https://";
                    document.write("<sc"+"ript type='text/javascript' src='" + scJsHost+
                    "statcounter.com/counter/counter.js'></"+"script>");
                    </script>
                    <noscript><div class="statcounter"><a title="Web Analytics"
                    href="https://statcounter.com/" target="_blank"><img class="statcounter"
                    src="https://c.statcounter.com/13353561/0/cc141859/0/" alt="Web Analytics"
                    referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
                    Last updated: {{ "now" | date: "%b %Y" }}
                </div>
            </div>
            <!-- End of Statcounter Code -->
            <div class="col-6">
                <div class="text-right text-muted">
                    {{ site.data.display.footer_text }}
                </div>
            </div>
        </div>
    </div>
</footer>
