<nav class="navbar navbar-expand-sm navbar-light fixed-top mb-5 shadow-sm">
    <div class="{% if page.container_class %}{{ page.container_class }}{% else %}container-lg{% endif %} d-flex align-items-center">

        <a
            href="https://www.bschool.cuhk.edu.hk/"
            target="_blank"
            rel="noopener noreferrer">
            <img
                src="{{ site.data.profile.logo_url | relative_url }}"
                alt="Logo"
                style="
                    width: 120px;
                    height: 60px;
                    object-fit: cover;
                    margin-right: 8px;
                ">
        </a>

        <a
            class="navbar-brand mrs-saint-delafield-regular d-none d-sm-block"
            href="{{ '/' | relative_url }}"
            target="_blank"
            rel="noopener noreferrer"
            style="
                position: absolute;
                top: 17px;
                left: 50%;
                transform: translateX(-50%);
                margin: 0;
                max-width: 35vw;
                overflow: hidden;
                font-size: clamp(2.2rem, 4vw, 3rem) !important;
                line-height: 1;
                color: #000 !important;
                white-space: nowrap;
                text-overflow: ellipsis;
                cursor: pointer;
            ">
            {{ site.data.profile.navbar_name }}
        </a>

        <button
            class="navbar-toggler ml-auto"
            style="font-size: 1em; padding: 0.5em;"
            type="button"
            data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-map"></i> Menu
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% for item in site.data.navigation.pages %}
                <li class="nav-item {% if item.name == page.navbar_title or include.active_page == item.name %}active{% endif %}">
                    <a class="nav-link" href="{{ item.url | relative_url }}">
                        {{ item.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>
</nav>